h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
    background-color: black; 
    border: rgb(245, 31, 31) solit 2px;
    margin: 10px;
    padding: 10px 10px;
}
/* σχολιο!!!  */